:root {
  --docsearch-primary-color: #5a8147;
  --docsearch-highlight-color: #3e7a38;
}

#nodejs-docsearch-container {
  position: absolute;
  top: 22px;
  right: 100px;
  z-index: 99;
}

.is-pinned #nodejs-docsearch-container {
  top: 6px;
}
