:root {
  --docsearch-primary-color: #5a8147;
  --docsearch-highlight-color: #3e7a38;
}

#nodejs-docsearch-container {
  position: absolute;
  top: 22px;
  right: 100px;
  z-index: 99;
}

.is-pinned #nodejs-docsearch-container {
  top: 6px;
}

/* Avoid being affected by global styles of nodejs.org */
.DocSearch-Container .DocSearch-Hit a:hover {
  background: var(--docsearch-hit-background);
}
.DocSearch-Container .DocSearch-Hit[aria-selected='true'] a {
  background-color: var(--docsearch-highlight-color);
}
.DocSearch-Container .DocSearch-Logo a:hover {
  background: var(--docsearch-footer-background);
}

